---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search.svelte";

export const prerender = false;

const { name } = Astro.params;

const title = `is ${name} erping?????`;
---

<Layout title={title}>
    <p class="text-4xl">{name} is probably erping</p>

    <Search client:load />
</Layout>
