---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search.svelte";

const title = `is frikken erping?????`;
---

<Layout title={title}>
    <p class="text-4xl">
        frikken would never be erping hes wholesome and has fricked 0 people in
        the past 3 months
    </p>

    <Search client:load />
</Layout>
