---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search.svelte";
---

<Layout title="is they erping????">
    <main>
        <div
            class="flex flex-col justify-center items-center min-h-screen text-center"
        >
            <h1 class="font-bold text-2xl">is they erping????</h1>
            <Search client:load />

            <p class="text-sm max-w-md">
                using our patented "seggs-erp-heartrategyroscope" technology, we
                can determine if anyone is erping! just enter a name! (dont
                worry about usernames, we'll find them)
            </p>
        </div>
    </main>
</Layout>
