---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-zinc-950 text-white">
        <main>
            <div
                class="flex flex-col justify-center items-center min-h-screen text-center"
            >
                <slot />

                <p class="text-xs mt-4 text-gray-300">
                    another incredible website by <a
                        href="https://arti.gay"
                        target="_blank"
                        class="underline text-blue-300">arti</a
                    >
                </p>
            </div>
        </main>
    </body>
</html>

<style>
    @import "tailwindcss";
</style>

<script
    is:inline
    defer
    data-domain="is.erping.ca"
    src="https://a.arti.lol/js/script.js"></script>
